<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <!-- Document types your app can open -->
    <key>CFBundleDocumentTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeName</key>
            <string>Structure Data File</string>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>sdf</string>
            </array>
            <key>CFBundleTypeRole</key>
            <string>Viewer</string>
            <key>LSHandlerRank</key>
            <string>Owner</string>
            <key>LSItemContentTypes</key>
            <array>
                <string>Stanford.Optimus.sdf</string>
            </array>
        </dict>
        <dict>
            <key>CFBundleTypeName</key>
            <string>MOL File</string>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>mol</string>
            </array>
            <key>CFBundleTypeRole</key>
            <string>Viewer</string>
            <key>LSHandlerRank</key>
            <string>Owner</string>
            <key>LSItemContentTypes</key>
            <array>
                <string>Stanford.Optimus.mol</string>
            </array>
        </dict>
    </array>

    <!-- Tell iOS you open files in place -->
    <key>LSSupportsOpeningDocumentsInPlace</key>
    <true/>

    <key>LSMinimumSystemVersion</key>
    <string>16.0</string>

    <key>NSAppTransportSecurity</key>
    <dict>
        <key>NSAllowsArbitraryLoads</key>
        <false/>
        <key>NSExceptionDomains</key>
        <dict>
            <key>3dmol.csb.pitt.edu</key>
            <dict>
                <key>NSExceptionRequiresForwardSecrecy</key>
                <false/>
                <key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
                <false/>
            </dict>
            <key>cactus.nci.nih.gov</key>
            <dict>
                <key>NSExceptionMinimumTLSVersion</key>
                <string>TLSv1.0</string>
                <key>NSExceptionRequiresForwardSecrecy</key>
                <false/>
                <key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
                <false/>
            </dict>
            <key>pubchem.ncbi.nlm.nih.gov</key>
            <dict>
                <key>NSExceptionMinimumTLSVersion</key>
                <string>TLSv1.0</string>
                <key>NSExceptionRequiresForwardSecrecy</key>
                <false/>
                <key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
                <false/>
            </dict>
            <key>unpkg.com</key>
            <dict>
                <key>NSExceptionRequiresForwardSecrecy</key>
                <false/>
                <key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
                <false/>
            </dict>
        </dict>
    </dict>

    <key>UIApplicationSceneManifest</key>
    <dict>
        <key>UIApplicationSupportsMultipleScenes</key>
        <false/>
        <key>UISceneConfigurations</key>
        <dict>
            <key>UIWindowSceneSessionRoleApplication</key>
            <array>
                <dict>
                    <key>UISceneConfigurationName</key>
                    <string>Default Configuration</string>
                    <key>UISceneDelegateClassName</key>
                    <string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
                </dict>
            </array>
        </dict>
    </dict>

    <key>UILaunchScreen</key>
    <dict>
        <key>UIColorName</key>
        <string>AccentColor</string>
        <key>UIImageName</key>
        <string>LaunchImage</string>
    </dict>

    <key>UTExportedTypeDeclarations</key>
    <array>
        <dict>
            <key>UTTypeConformsTo</key>
            <array>
                <string>public.data</string>
                <string>public.content</string>
            </array>
            <key>UTTypeDescription</key>
            <string>Structure Data File</string>
            <key>UTTypeIdentifier</key>
            <string>Stanford.Optimus.sdf</string>
            <key>UTTypeTagSpecification</key>
            <dict>
                <key>public.filename-extension</key>
                <array>
                    <string>sdf</string>
                </array>
                <key>public.mime-type</key>
                <array>
                    <string>chemical/x-mdl-sdfile</string>
                </array>
            </dict>
        </dict>
        <dict>
            <key>UTTypeConformsTo</key>
            <array>
                <string>public.data</string>
                <string>public.content</string>
            </array>
            <key>UTTypeDescription</key>
            <string>MOL File</string>
            <key>UTTypeIdentifier</key>
            <string>Stanford.Optimus.mol</string>
            <key>UTTypeTagSpecification</key>
            <dict>
                <key>public.filename-extension</key>
                <array>
                    <string>mol</string>
                </array>
                <key>public.mime-type</key>
                <array>
                    <string>chemical/x-mdl-molfile</string>
                </array>
            </dict>
        </dict>
        <dict>
            <key>UTTypeConformsTo</key>
            <array>
                <string>public.data</string>
                <string>public.content</string>
            </array>
            <key>UTTypeDescription</key>
            <string>Protein Data Bank File</string>
            <key>UTTypeIdentifier</key>
            <string>Stanford.Optimus.pdb</string>
            <key>UTTypeTagSpecification</key>
            <dict>
                <key>public.filename-extension</key>
                <array>
                    <string>pdb</string>
                </array>
                <key>public.mime-type</key>
                <array>
                    <string>chemical/x-pdb</string>
                </array>
            </dict>
        </dict>
        <dict>
            <key>UTTypeConformsTo</key>
            <array>
                <string>public.plain-text</string>
                <string>public.content</string>
            </array>
            <key>UTTypeDescription</key>
            <string>SMILES Chemical Format</string>
            <key>UTTypeIdentifier</key>
            <string>Stanford.Optimus.smiles</string>
            <key>UTTypeTagSpecification</key>
            <dict>
                <key>public.filename-extension</key>
                <array>
                    <string>smi</string>
                    <string>smiles</string>
                </array>
                <key>public.mime-type</key>
                <array>
                    <string>chemical/x-daylight-smiles</string>
                </array>
            </dict>
        </dict>
    </array>
</dict>
</plist>
